* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.icons {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(72, 36, 77);
}
.icons div {
     width: 60px;
     height: 60px;
     background: rgba(255, 255, 255, 0.404);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
}
.icons div + div {
     margin-left: 2rem;
}
.icons div a {
     color: #ffffff;
     font-size: 2em;
}

@keyframes topToBottom {
     from {
          transform: translateY(-65px);
     }
     to {
          transform: translateY(0);
          opacity: 1;
     }
}
